*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    margin-top: 16px;
    border-radius: 8px;
}

header{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #49a3c2;
}

h1{
    align-self: center;
    text-align: center;
    color: #ffffff;
}

aside{
    /* border: 2px solid black; */
    padding: 48px 48px 0 ;
}

a{
    display: block;
    text-decoration: none;
}

.infos{
    color: #ffffff;
    background-color: #59CD90;
    text-align: center;
    border: 2px solid #59CD90;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
}

.infos:hover{
    background-color: #ffffff;
    color: #49a3c2;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    margin: 24px 24px 16px;
}

main{
    text-align: justify;
    /* background-color: #49a3c2; */
    margin: 0 13px 0;
    padding: 16px
}

/* .generalInfo{
    text-align: justify;
    background-color: #49a3c2;
    margin: 0 13px 0;
    padding: 16px
} */

/* tr{
    text-align: center;
    margin-top: 8px;
}

td{
    padding: 10px;
    margin-top: 8px;
} */

.scienclass{
    margin-top: 16px;
    text-align: center;
}

.references{
    text-align: center;
}

.referencesLinks{
    color: black;
}

.referencesLinks:hover{
    color: #49a3c2;
}

.redesPai{
    display: flex;
    justify-content: center;
}

.redes{
    margin: 8px 8px 8px 8px;
    cursor: pointer;
    width: 50px;
    margin: 0px 8px 0;
    padding-top: 12px;
}

.h3footer{
    margin: 8px 24px 0;
}

footer{
    margin-top: 24px;
    text-align: center;
}

